@import "~material-colors/dist/colors.scss";
@import url("https://fonts.googleapis.com/css?family=Puritan:400,700&display=swap");

:global(body) {
  margin: 0 !important;
  padding: 0 !important;
  // background: rgba($md-orange-a200,1 );
  font-family: "Puritan", sans-serif;
}

.main {
  // max-width: 700px;
  color: $md-grey-800;
  margin: 0 auto;
  box-sizing: border-box;

  .paper {
    max-width: 500px;
    margin: auto;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
  }
  .button {
    align-self: center;
  }
}

.sliderContainer {
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}
