@import "~material-colors/dist/colors.scss";
@import url("https://fonts.googleapis.com/css?family=Puritan:400,700&display=swap");
.svg {
  display: inline-block;
  margin: 30px 0;
}
.road {
  fill: $md-grey-200;
  stroke: none;
}
.path {
  fill: none;
  stroke: $md-green-a400;
  stroke-width: 2px;
}
.text{
  text-align: center;
  font-size: 12px;
  font-family: 'Puritan', sans-serif;
}

.car {
  fill: $md-light-blue-500;
}
.xssd{
  stroke: $md-green-a400;
  stroke-width: 2px;
}
